<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kaptive</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link ng href="{{=URL('static','css/font-awesome.min.css')}}" rel="stylesheet"/>
    <link ng href="{{=URL('static','css/default.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link ng href="{{=URL('static','css/fonts.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link ng href="{{=URL('static','images/favicon.ico')}}" type='image/x-icon' rel='shortcut icon' />
    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>

<body>
    <div id="wrapper1">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo"> <span><img src="{{=URL('static','images/kaptive_logo.png')}}" alt="Kaptive" align="middle" height="197.7" width="400"></span></div>
                <div id="menu">
                    <ul>
                        <li><a href="{{=URL('jobs')}}" accesskey="1" title="">Submit Job</a></li>
                        <li><a href="{{=URL('result')}}" accesskey="2" title="">Get Result</a></li>
                        <li><a href="#welcome" accesskey="3" title="">About Kaptive</a></li>
                        <li><a href="https://github.com/kelwyres/Kaptive-Web/blob/master/README.md" accesskey="4" title="">Documentation</a></li>
                        <li><a href="#contact us" accesskey="5" title="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div id="wrapper2">
            <div id="welcome" class="container">
                <div class="title" id="about">
                    <h2>About Kaptive</h2>
                </div>
                <p style="font-size:25px"><strong>Kaptive</strong> is a tool for bacterial surface polysaccharide locus typing and variant evaluation. It takes one or more pre-assembled genomes and for each finds the best matching locus from a reference database. References for <i>Klebsiella pneumoniae</i> species complex and <i>Acinetobacter baumannii</i> are available in Kaptive's web interface.</p>
                <p></p>
                <p style="font-size:25px">The <strong>reference databases</strong> are curated by <a href="https://research.monash.edu/en/persons/kelly-wyres" rel="nofollow">Kelly Wyres</a> (Monash University, Australia) and <a href="https://research.qut.edu.au/infectionandimmunity/projects/bacterial-polysaccharide-research/" rel="nofollow">Johanna Kenyon</a> (Queensland University of Technology, Australia). Please <a href="mailto:kaptive.typing@gmail.com">contact us</a> if you have a novel locus that you would like to be included.</p>
            </div>
        </div>
        <div id="wrapper3">
            <div id="portfolio" class="container">
                <div class="title">
                    <h2>Citations</h2>
                    <p></p>
                    <p style="font-size:20px">If you use <strong>Kaptive's web interface</strong> please cite the paper below along with the reference for the relevant locus database(s).</p>
                    <p></p>
                    <p style="font-size:20px">Wick RR, Heinz E, Holt KE and Wyres KL 2018.<br> Kaptive Web: user-friendly capsule and lipopolysaccharide serotype prediction for <i>Klebsiella</i> genomes. <i>Journal of Clinical Microbiology</i>: <a href="https://jcm.asm.org/content/56/6/e00197-18.long" rel="nofollow">56(6). e00197-18</a></p>
                    <p></p>
                    <p></p>
                    <p style="font-size:20px"><b><i>K. pneumoniae</i> species complex capsule (K) locus databases</b></p>
                    <p style="font-size:20px">Wyres KL, Wick RR, Gorrie C, Jenney A, Follador R, Thomson NR and Holt KE 2016.<br> Identification of <i>Klebsiella</i> capsule synthesis loci from whole genome data. <i>Microbial Genomics</i> doi: <a href="http://mgen.microbiologyresearch.org/content/journal/mgen/10.1099/mgen.0.000102" rel="nofollow">10.1099/mgen.0.000102 </a></p>
                    <p></p>
                    <p style="font-size:20px"><b><i>K. pneumoniae</i> species complex LPS (O) locus database</b></p>
                    <p style="font-size:20px">Wick RR, Heinz E, Holt KE and Wyres KL 2018.<br> Kaptive Web: user-friendly capsule and lipopolysaccharide serotype prediction for <i>Klebsiella</i> genomes. <i>Journal of Clinical Microbiology</i>: <a href="https://jcm.asm.org/content/56/6/e00197-18.long" rel="nofollow">56(6). e00197-18</a></p>
                    <p></p>
                    <p style="font-size:20px"><b><i>A. baumannii</i> capsule (K) and LPS (OC) locus databases</b></p>
                    <p style="font-size:20px">Wyres KL, Cahill SM, Holt KE, Hall RM and Kenyon JJ 2020.<br> Identification of <i>Acinetobacter baumannii</i> loci for capsular polysaccharide (KL) and lipooligosaccharide outer core (OCL) synthesis in genome assemblies using curated reference databases compatible with Kaptive. <i>Microbial Genomics</i> doi: <a href="https://www.microbiologyresearch.org/content/journal/mgen/10.1099/mgen.0.000339" rel="nofollow">10.1099/mgen.0.000339</a></p>
                    <p style="font-size:20px">A full list of citations for the individual <i>A. baumannii</i> K- and OC- locus reference sequences can be found <a href="https://github.com/katholt/Kaptive/tree/master/extras" rel="nofollow">here</a>.</p>
                    <p></p>
                    <p style="font-size:20px"><b>Current database version (as of 9th September 2020): Kaptive v0.7.3</b></p>

                </div>
                <table class="box">
                    <tr>
                        <td style="width: 25%; padding:0 15px 0 15px;"><span class="fa fa-wrench fa-2x"><br><br></span></td>
                        <td style="width: 25%; padding:0 15px 0 15px;"><span class="fa fa-key fa-2x"><br><br></span></td>
                        <td style="width: 25%; padding:0 15px 0 15px;"><span class="fa fa-github fa-2x"><br><br></span></td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;"><h3>Get Started</h3></td>
                        <td style="padding:0 15px 0 15px;"><h3>Kaptive team</h3></td>
                        <td style="padding:0 15px 0 15px;"><h3>Kaptive on GitHub</h3></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; padding:0 15px 0 15px;"><p><strong>Kaptive</strong> is an open source project for the biomedical community, licensed under GNU General Public License version 3.</p></td>
                        <td style="vertical-align: top; padding:0 15px 0 15px;"><p><strong>Kaptive</strong> is developed and maintained by Kelly Wyres, Ryan Wick and Kathryn Holt at the Holt Lab, Monash University.</p></td>
                        <td style="vertical-align: top; padding:0 15px 0 15px;"><p>The command line version of Kaptive can be deployed on your computer with <i>Klebsiella</i> or <i> A. baumannii</i> K-locus, O/OC-locus or other databases.</p></td>
                    </tr>
                    <tr>
                        <td style="padding:0 15px 0 15px;"><a href="/kaptive/default/jobs" class="button button-small">Submit job</a></td>
                        <td style="padding:0 15px 0 15px;"><a href="https://holtlab.net/" class="button button-small">Visit Holt lab</a></td>
                        <td style="padding:0 15px 0 15px;"><a href="https://github.com/katholt/Kaptive" class="button button-small">Visit GitHub</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer" class="container">
        <div class="title" id="contact us">
            <h2>Get in touch</h2>
            <ul class="contact">
                <li><a href="https://github.com/katholt/Kaptive" class="fa fa-github fa-2x"><span>GitHub</span></a></li>
                <li><a href="https://github.com/katholt/Kaptive/issues" class="fa fa-bug fa-2x"><span>Bug</span></a></li>
                <li><a href="https://twitter.com/rrwick" class="fa fa-twitter fa-2x"><span>Twitter</span></a></li>
                <li><a href="mailto:kaptive.typing@gmail.com" class="fa fa-envelope fa-2x"><span>Email</span></a></li>
            </ul>
        </div>
        <div id="copyright" class="container">
            <p>&copy; <strong>Kaptive</strong>. All rights reserved. | Design by <a href="http://eresearch.unimelb.edu.au" rel="nofollow">Melbourne eResearch Group</a>, University of Melbourne.</p>
        </div>
    </div>
</body>
</html>
