<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kaptive</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="{{=URL('static','css/font-awesome.min.css')}}" rel="stylesheet" />
    <link href="{{=URL('static','css/default.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{=URL('static','css/fonts.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{=URL('static','images/favicon.ico')}}" type='image/x-icon' rel='shortcut icon' />
    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>

<body>
    <div id="wrapper1">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo"> <span><img src="{{=URL('static','images/kaptive_logo.png')}}" alt="Kaptive" align="middle" height="197.7" width="400"></span></div>
                <div id="menu">
                    <ul>
                        <li><a href="{{=URL('jobs')}}" accesskey="1" title="">Submit Job</a></li>
                        <li><a href="{{=URL('result')}}" accesskey="2" title="">Get Result</a></li>
                        <li><a href="#welcome" accesskey="3" title="">About Kaptive</a></li>
                        <li><a href="https://github.com/kelwyres/Kaptive-Web/blob/master/README.md" accesskey="4" title="">Documentation</a></li>
                        <li><a href="#contact us" accesskey="5" title="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="wrapper2">
            <div id="welcome" class="container">
                <div class="title" id="about">
                    <h2>About Kaptive</h2>
                </div>
                <p style="font-size:25px"><strong>Kaptive</strong> is a tool for <i>Klebsiella</i> locus typing and variant evaluation. It takes one or more pre-assembled genomes and for each finds the best matching locus from a reference database. References for known K-loci (capsule) and O-loci (lipopolysaccharide) are available in Kaptive's web interface.</p>
            </div>
        </div>
        <div id="wrapper3">
            <div id="portfolio" class="container">
                <div class="title">
                    <h2>Citation</h2>
                    <p></p>
                    <p style="font-size:20px">Wyres, KL., Wick, RR., Gorrie, C., Jenney, A., Follador, R., Thomson, NR. and Holt, KE. 2016.<br> <strong>Identification of <i>Klebsiella</i> capsule synthesis loci from whole genome data. <i>Microbial Genomics</i> doi: <a href="http://mgen.microbiologyresearch.org/content/journal/mgen/10.1099/mgen.0.000102" rel="nofollow">10.1099/mgen.0.000102 </a></strong></p>
                </div>
                <div class="column1">
                    <div class="box">
                        <span class="fa fa-wrench fa-2x"><br><br></span>
                        <h3>Get Started</h3>
                        <p><strong>Kaptive</strong> is an open source project for the Biomedical community. Licensed under GNU General Public License, version 3.<br><br></p>
                        <a href="{{=URL('jobs')}}" class="button button-small">Submit Job</a>
                    </div>
                </div>
                <div class="column2">
                    <div class="box">
                        <span class="fa fa-key fa-2x"><br><br></span>
                        <h3>Our team</h3>
                        <p><strong>Kaptive</strong> is developed and maintained by Kelly Wyres, Ryan Wick and Kathryn Holt at the Holt Lab in the Bio21 Molecular Science & Biotechnology Institute.</p>
                        <a href="https://holtlab.net/" class="button button-small">Visit Holt Lab</a>
                    </div>
                </div>
                <div class="column3">
                    <div class="box">
                        <span class="fa fa-trophy fa-2x"><br><br></span>
                        <h3>About Bio21</h3>
                        <p>The Bio21 Molecular Science & Biotechnology Institute is a multidisciplinary research centre at the University of Melbourne.<br><br></p>
                        <a href="http://www.bio21.unimelb.edu.au/" class="button button-small">Visit Bio21</a>
                    </div>
                </div>
                <div class="column4">
                    <div class="box">
                        <span class="fa fa-github fa-2x"><br><br></span>
                        <h3>Kaptive on GitHub</h3>
                        <p>The command line version of Kaptive can be deployed on your computer with <i>Klebsiella</i> capsule or other databases.</p>
                        <a href="https://github.com/katholt/Kaptive" class="button button-small">Visit GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container">
        <div class="title" id="contact us">
            <h2>Get in touch</h2>
            <ul class="contact">
                <li><a href="https://github.com/katholt/Kaptive" class="fa fa-github fa-2x"><span>GitHub</span></a></li>
                <li><a href="https://github.com/katholt/Kaptive/issues" class="fa fa-bug fa-2x"><span>Bug</span></a></li>
                <li><a href="https://twitter.com/rrwick" class="fa fa-twitter fa-2x"><span>Twitter</span></a></li>
                <li><a href="mailto:kaptive.typing@gmail.com" class="fa fa-envelope fa-2x"><span>Email</span></a></li>
            </ul>
        </div>
        <div id="copyright" class="container">
            <p>&copy; <strong>Kaptive</strong> . All rights reserved. | Design by <a href="http://eresearch.unimelb.edu.au" rel="nofollow">Melbourne eResearch Group</a>, University of Melbourne.</p>
        </div>
    </div>
</body>
</html>
